/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5px;
  justify-content: space-around;
  align-items: center;
}

.container .heading h1 {
  font-size: 3.2rem;
  font-weight: 900;
  text-align: center;
}

.container .image {
  width: 600px;
}

.container .image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 8px 8px 16px gray;
}

/* card section  */

.card {
  background-color: aliceblue;
  margin-top: 50px;
  padding: 40px;
  text-align: center;
}

.card .image img {
  width: 180px;
  border-radius: 10px;
  box-shadow: 10px 10px 12px gray;
  margin-bottom: 25px;
}

.card .about {
  margin-top: 25px auto;
  padding: 0 200px;
}

.card .about p {
  font-size: 1.2rem;
  font-weight: 300;
}


/* map section  */

.map {
  margin: 50px auto;
  text-align: center;
}

.map h1 {
  font-size: 2.5rem;
  color: cadetblue;
  font-weight: 800;
  margin-bottom: 25px;
}

.map .frame {
  width: 40%;
  margin: auto;
}

iframe {
  width: 100%;
}


/* media query  */
@media screen and (max-width: 400px) {
  .container .image {
    width: 100%;
  }
  .container .image img {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .card .about {
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    padding: 15px;
  }
}

@media screen and (max-width: 750px) {
  .card .about {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1200px) {
  .map .frame {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .map .frame {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .map .frame {
    width: 80%;
  }
}
